body .content {width:70%;margin: 0 auto;}
h1-h6{
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top:  1.5em;
}
h1{font-size: 32px;}
table, table td {border: solid 1px black;}
figure{font-style: italic;}
figure {float:right;}
